.custom-font {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  font-style: italic;

}

.text-font {
  font-size: medium;
}

.px-font {
  font-size: 16px;
}


body {
  font-size: 2rem;
}

.em-font {
  font-size: 0.5em;
}

.rem-font {
  font-size: 1rem;
}

.percentage-font {
  font-size: 200%;
}

