.custom-font {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  font-style: italic;

}

.text-font {
  font-size: medium;
}

.px-font {
  font-size: 16px;
}


body {
  font-size: 2rem;
}

.em-font {
  font-size: 0.5em;
}

.rem-font {
  font-size: 1rem;
}

.percentage-font {
  font-size: 50%;
}

.aligning-center {
  text-align: center;
}

.aligning-left {
  text-align: left;
}


.aligning-right {
  text-align: right;
}


.aligning-justified {
  text-align: justify;
  

}

.spaced {
  /* word-spacing: 1em; */
  line-height: 0.75em;
  letter-spacing: 0.1em;
}


h1 {
  color: white;
  font-family: sans-serif;
  text-shadow: 0.0em 0.0em 20px firebrick, 0.0em 0.0em 10px rgb(0, 100, 0);
}