body {
  margin: 0;
  font-family: Segoe UI,Helvetica,Arial,sans-serif;
}

.header {
  background-color: #24292e;
  color: whitesmoke;
  font-weight: 600;
  font-size: 0.9rem;
}

.search-bar {
  background-color: #24292e;
  
  border: solid 1px dimgray;
  border-radius: 5px;
}

.header-button {
  color: whitesmoke;
  text-decoration: none;
}