/* p {
  background-color: lightblue;
} */

#heading {
  color: darkred;
}


.blog-post {
  background-color: blueviolet;
}

#importantest-square {
  border: red solid;
}

.square {
  width: 0px;
  height: 0px;
  /* border: black solid; */
  /* border-width: 10px 5px 40px 20px; */
  background-color: aquamarine;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 2px;
  /* padding: 10px 5px 5px 40px; */
  /* padding: 10px 40px; */
}

.absolute-square {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: aqua;
}

.relative-square {
  position: relative;
  top: 10px;
  left: 10px;
}


.static {
  position: static; /* default*/
}

.relative {
  position: relative;
  bottom: 100px;
  right: 10px;
  width: 100px;
  background-color: red;
}

.absolute {
  position: absolute;
  background-color: blue;
  bottom: 100px;
  right: 10px;
  width: 100px;
}
.fixed { 
  position: fixed;
  top: 100px;
  left: 500px;
  font-size: 50px
}

.sticky { 
  position: sticky;
  top: 100px;
  left: 500px;
  font-size: 50px
}

.header {
  background: cadetblue;
  position: sticky;
  top:0px;
  bottom: 0px;
}

.content {
  width: 400px;
}
.bordered {
  border: 5px solid black;
  /* border-radius: 100px; */
  border-radius: 100%;
  border-bottom-left-radius: 0%;
  width: 80px;
}